	<h1 align="center">Polling Demo</h1>
	<a href="/tickets/new?page=http">Polling using http</a><br/>
	<a href="/tickets/new?page=ajax">Polling using ajax</a><br/>
	<a href="/tickets/new?page=websocket">Polling using Websocket</a>

